@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(235, 219, 222);
    font-family: 'Poppins', sans-serif;
}
.wrapper {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

a {
    position: relative;
    display: block;
    width: 57px;
    height: 57px;
    background-color: #fff;
    text-decoration: none;
    font-size: 22px;
    margin: 10px;
    border-radius: 50%;
    text-align: center;
    line-height: 57px;
    color: black;
    transition: 0.8s;
    
}





.icon {
    position: relative;
    background-color: #fff;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    transition: 0.8s;;
    opacity: 0;
}

.icon_holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon::before {
    content: '';
    position: absolute;
    display: block;
    width: 13px;
    height: 13px;
    background-color: #fff;
    top:83% ;
    left:42% ;
    transform: rotate(45deg);
    transition: 0.8s;

}

.wrapper .icon_holder:hover .icon {
    opacity: 1;

 }
 .wrapper .icon_holder:nth-child(1):hover .icon, .wrapper .icon_holder:nth-child(1):hover .icon::before, .wrapper .icon_holder:nth-child(1):hover a {
     background-color: rgb(9, 9, 110);
     color: white;
 } 
 .wrapper .icon_holder:nth-child(2):hover .icon, .wrapper .icon_holder:nth-child(2):hover .icon::before, .wrapper .icon_holder:nth-child(2):hover a {
    background-color: rgb(0, 183, 255);
    color: white;
} 
.wrapper .icon_holder:nth-child(3):hover .icon, .wrapper .icon_holder:nth-child(3):hover .icon::before, .wrapper .icon_holder:nth-child(3):hover a {
    background-color: rgb(255, 0, 119);
    color: white;
} 
.wrapper .icon_holder:nth-child(4):hover .icon, .wrapper .icon_holder:nth-child(4):hover .icon::before, .wrapper .icon_holder:nth-child(4):hover a {
    background-color: rgb(255, 60, 0);
    color: white;
} 
.wrapper .icon_holder:nth-child(5):hover .icon, .wrapper .icon_holder:nth-child(5):hover .icon::before, .wrapper .icon_holder:nth-child(5):hover a {
    background-color: rgb(255, 0, 0);
    color: white;
} 